.create-events-page {
  .wrapper {
    margin-top: -350px;

    .controls {
      width: 320px;
      max-width: 100%;

      input {
        display: block;
        margin: 0 0 10px 0;
        width: 100%;
        padding: 3px 10px;

        &.is-private-cb,
        &.suggest-cb {
          display: inline-block;
          width: auto; 
        }
      }
      
      .is-private {
        margin-bottom: 10px;
        .label {
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .address-suggest-div {
        .label {
          margin-left: 5px;
          font-size: 12px;
        }
        .address-suggest {
          display: block;
          font-size: 12px;
        }
      }

      textarea.event-desc {
        margin: 10px 0;
        width: 100%;
        height: 200px;
      }

      .create-btn {
        margin: 20px 0 50px 0;
        width: 100%;
      }
    }
  }
}