.events-page {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .controls {
        width: 320px;
        max-width: 100%;
  
        .show-btn {
          margin: 20px 0;
          width: 100%;
        }
      }
    #eventName {
        display: block;

        float: left;
        padding: 0;
    }
    #eventDate {
        
        margin: 0;
        display: block;
       
    }
    ul {
    
        text-align: left;
        padding: 0;
    }
    }
  }