.find-events-page {
  .wrapper {

    .controls {
      margin: 20px 0 10px 0;
      text-align: center;

      .event-search-box {
        min-width: 320px;
        max-width: 95%;
        padding: 10px;
      }
      input {
        display: block;
      }

      span.advance-option {
        display: block;
        margin: 10px 0;
      }

      .advance-filters {
        margin: 20px 0;
        
        &.hide {
          display: none;
        }

        .category-section {
          text-align: left;
          width: 300px;
          margin: 0 auto;
          
          input {
            display: inline;
          }

          .category-item {
            display: inline-block;
            width: 25%;
          }
          .category-label {
            font-size: 12px;
            margin-left: 3px;
          }
        }


        .advance-opt {
          margin: 10px auto;
        }

        .event-type-dd {
          min-width: 300px;
          display: block;
        }
        #start-date {
          display: block;
          min-width: 300px;
          padding: 10px;
        }
      }
    }
  }
}