.site-header.nav {
  position: relative;
  top: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5vh;

  justify-content: center;
  width: 280px;
  max-width: 90%;
  margin: 0 auto;


  .header-btn {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    width: 30%;
    text-align: center;
    opacity: 0.7;
    cursor: pointer;

    .fa {
      color: slategrey;
      font-size: 30px;
      
      &:hover {
        color: coral;
      }

      &.fa-home {
        
      }
      &.fa-user {

      }
      &.fa-sign-out {

      }
      &.fa-sign-in {
        
      }
      &.fa-user-plus {
      
      }
    }



    .link-label {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 0.7;
      font-weight: bold;
      color: black;
    }
  }

  
}

#header-signin {
  .modal-title {
    margin-left: 10%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 10px;
      width: 80%;
      padding: 5px 10px;
    }
    a.forgot-pw {
      margin: 10px 0;
    }
    .signInBtn {
      width: 80%;
      margin-bottom: 20px;

      i.fa-spinner {
        font-size: 16px;
      }
    }
  }
}
