.header.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5vh;

  .login-signup {
    li {
      display: inline;
      list-style-type: none;
    }
    li + li:before{
      content: ' | ';
    }
  }  
}
