.site-header.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5vh;

  .login-signup {
    li {
      display: inline;
      list-style-type: none;
    }
    li + li:before{
      content: ' | ';
    }
  }  
}

#header-signin {
  .modal-title {
    margin-left: 10%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 10px;
      width: 80%;
      padding: 5px 10px;
    }
    a.forgot-pw {
      margin: 10px 0;
    }
    .signInBtn {
      width: 80%;
      margin-bottom: 20px;

      i.fa-spinner {
        font-size: 16px;
      }
    }
  }
}
