.landing-page {

  .home-link {
    opacity: 0;
  }
  
  .wrapper {
    width: 280px;
    
    h1 {
      font-size: 3rem;
      div.wiu-animate {
        display: inline-block;
        margin-left: 10px;
      }
    }

    .controls {
      margin-top: 40px;

      .btn {
        margin: 10px auto;
        display: block;
        width: 200px;
      }
    }
  }
}