.profile-page {
  .nav-link {
    padding: .3rem 1rem;
    margin-top: 15px;
  }

  .info-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
    .email {
      font-size: 20px;
    }
  }
  .edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    max-width: 100%;
    margin-top: 10px;

    .email {
      font-size: 20px;
    }

    input {
      display: block;
      width: 90%;
      padding: 1px 10px;
      margin: 5px 0;
    }

    h3.label {
      margin-top: 20px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .avatar {
    display: inline-block;
    width: 145px;
    height: 145px;
    background-image: url('../images/avatars.jpg');
    background-size: 700px;
    background-position: -57px -47px;
    background-repeat: no-repeat;

    &.avatar-0 {
      background-position: -57px -47px;
    }
    &.avatar-1 {
      background-position: -206px -358px;
    }
    &.avatar-2 {
      background-position: -353px -358px;
    }
    &.avatar-3 {
      background-position: -57px -358px;
    }
  }

  .avatar-section {
    overflow: hidden;
    max-width: 100%;
    margin: 20px 0;

    .avatar {
      cursor: pointer;
    }
  }

  .event-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-row {
      width: 100%;
      margin: 5px 0;
      border: 1px solid silver;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 10px 0;

      .event-name {
        font-size: 13px;
      }
      .event-date {
        font-size: 12px;
        font-weight: bold;
      }
      .fa {
        color: silver;
      }

      .fa-check {
        &.active {
          color: green;
        }
      }
      .fa-times {
        &.active {
          color: red;
        }
      }
    }
  }

}