.signup-page {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .site-logo {
      width: 200px;
      height: 200px;
      background-image: url('../images/animals.jpg');
      background-repeat: no-repeat;
      background-position: 53% 0;
      background-size: 300%;
      display: block;
    }

    .controls {
    }
  }
}