.signup-page {
  .wrapper {
    margin-top: -300px;

    .controls {
      width: 320px;
      max-width: 100%;

      input {
        display: block;
        margin: 10px 0;
        width: 100%;
        padding: 5px 10px;
      }

      .signup-btn {
        margin: 20px 0;
        width: 100%;
      }
    }
  }
}