/* Utility CSS classes and variables */

.fun-font {
  font-family: 'Amatic SC', cursive;
}

.btn {
  cursor: pointer;
}

.site-logo {
  width: 200px;
  height: 200px;
  background-image: url('../images/animals.png');
  background-repeat: no-repeat;
  background-position: 53% 0;
  background-size: 300%;
  display: block;
}

.hidden {
  display: none!important;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;

  width: 350px;
  border: 1px solid darkcyan;
  margin-top: -230px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;
  border-radius: 10px;

  box-shadow: 0 8px 6px -6px darkgrey;
}

.flip-bkg {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }

.region {
  background-image: url('../images/country-0.png');
  background-repeat: no-repeat;
  background-position: 50% 320%;
  background-size: 151%;
  opacity: 0;

  @media (min-width: 768px) {
    background-size: 90%;
  }

  @media (min-width: 1200px) {
    background-size: 70%;
  }

  @media (min-width: 1800px) {
    background-size: 60%;
  }

  &.top-region {
    height: 40vh;
    background-position: 50% 320%;
    @media (min-width: 1200px) {
      background-position: 50% 350%;
    }
    @media (min-width: 1800px) {
      background-position: 50% 320%;
    }
  }
  &.bottom-region {
    height: 60vh;
    background-position: 50% 320%;
    @media (min-width: 1200px) {
      background-position: 50% 351%;
    }
  }

  &.country-0 {
    background-image: url('../images/country-0.png');
  }
  &.country-1 {
    background-image: url('../images/country-1.png');
  }
  &.country-2 {
    background-image: url('../images/country-2.png');
  }
  &.country-3 {
    background-image: url('../images/country-3.png');
  }
  &.country-4 {
    background-image: url('../images/country-4.png');
  }
  &.country-5 {
    background-image: url('../images/country-5.png');
  }
  &.country-6 {
    background-image: url('../images/country-6.png');
  }
  &.country-7 {
    background-image: url('../images/country-7.png');
  }
  &.country-8 {
    background-image: url('../images/country-8.png');
  }
  &.country-9 {
    background-image: url('../images/country-9.png');
  }
}
