<div class="edit-profile">
  <div class="email fun-font">{{email}}</div>
  <input type="text" class="username" value="{{username}}" placeholder="User Name">
  <span class="hidden error error-old-pw">Please provide your password</span>
  <input type="password" class="old-pw" placeholder="Old Password">
  <span class="hidden error error-new-pw">Please enter a new password</span>
  <input type="password" class="new-pw" placeholder="New Password">
  <span class="hidden error error-confirm">Password mismatch</span>
  <input type="password" class="confirm-pw" placeholder="Confirm Password">
  <h3 class="label fun-font">Pick a new avatar</h3>
  <div class="row avatar-section">
    <div class="col-3"><div class="avatar avatar-0" data-id="0"></div></div>
    <div class="col-3"><div class="avatar avatar-1" data-id="1"></div></div>
    <div class="col-3"><div class="avatar avatar-2" data-id="2"></div></div>
    <div class="col-3"><div class="avatar avatar-3" data-id="3"></div></div>
  </div>
  <div class="control">
    <button type="button" class="btn btn-outline-primary update-btn">Update Profile</button>
    <button type="button" class="btn btn-outline-danger delete-btn">Delete Profile</button>
  </div>
</div>