<div class="row site-header nav">
  <div class="home-link header-btn"><a class="gohome" href="/"><i class="fa fa-home" aria-hidden="true"></i><span class="link-label">Home</span></a></div>
  
  {{#if user}}
    <ul>
      <li>Hello! <a href="/profile/getUser/{{user.id}}">{{user.username}}</a></li>
      <li><a href="#" class="logoutBtn">Log out</a></li>
    </ul>
  {{else}}
    <div class="header-btn">
      <a class="sign-in" data-toggle="modal" data-target="#header-signin" href="#">
        <i class="fa fa-sign-in" aria-hidden="true"></i><span class="link-label">Signin</span>
      </a>
    </div>
    <div class="header-btn">
      <a class="sign-up" href="/signup">
        <i class="fa fa-user-plus" aria-hidden="true"></i><span class="link-label">Signup</span></a>
    </div>
  {{/if}}
  
</div>

<div id="header-signin" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fun-font"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="email" type="text" placeholder="Email">
        <input class="password" type="password" placeholder="Password">
        <h2 id="signInResult" class="error"></h2>
        <a class="forgot-pw" href="/password-reset">Forgot password?</a>
        <button type="button" id="signInBtn" class="signInBtn btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
</div>
