<div class="row header nav">
  <div class="home-link"><a class="gohome" href="/">Home</a></div>
  <div class="login-signup">
    <ul>
      <li><a class="sign-in" href="/sign-in">Sign in</a></li>
      <li><a class="sign-up" href="/sign-up">Sign up</a></li>
    </ul>
  </div>
</div>
