<div class="container create-events-page main-container">
  {{> header }}
  <div class="wrapper">
    <div class="site-logo"></div>
    <h2 class="fun-font">Create event</h1>
    <div class="controls">
      <span class="hidden error error-name">Please provide an event name</span>
      <input class="event-name" type="text" placeholder="Event Name">
      <input id="event-date" class="event-date" type="text" placeholder="Event Date">
      <input class="start-time" type="text" placeholder="Start Time">
      <input class="location" type="text" placeholder="Location">
      <div class="hidden address-suggest-div"> 
        <input type="checkbox" class="suggest-cb"><span class="label">Did you mean: </span><span class="address-suggest"></span>
      </div>
      <span class=></span>
      <textarea class="event-desc"></textarea>
      <div class="is-private"><input type="checkbox" class="is-private-cb"><span class="label">This is a private event</span></div>
      <input type="text" class="invite" placeholder="Who to invite">
      <button type="button" class="btn btn-outline-primary create-btn">Create Event</button>
    </div>
  </div>
</div>
