<div class="container events-page main-container">
  {{> header }}
  <div class="wrapper">
    <div class="site-logo"></div>
    <h2 class="fun-font">Events!!!</h1>
    {{#each events}}
        <li>{{this.name}}</li>
    {{/each}}
    <div class="controls">
      <input class="email" type="text" placeholder="Email">
      <input class="password" type="password" placeholder="Password">
      <input class="confirm-pw" type="password" placeholder="Confirm Password">
      <button type="button" class="btn btn-outline-primary signup-btn">Sign up</button>
    </div>
  </div>
</div>