<div class="container events-page main-container">
    {{> header }}
    <div class="wrapper">
        <div class="site-logo"></div>
        <h2 class="fun-font">Events!!!</h1>
            <div class="event-section">
            {{#if events}}
                {{#each events}}
                    {{> event_row}}
                {{/each}}
            {{else}}    
                <p>No event found</p>
            {{/if}}
            </div>

            <div class="controls">
                <button type="button" class="btn btn-outline-primary show-btn">Show More</button>
            </div>
    </div>
</div>