<div class="container-fluid find-events-page main-container">
  {{> header }}
  <div class="region top-region"></div>
  <div class="wrapper">
    <div class="site-logo"></div>
    <h2 class="fun-font">What are you looking for?</h1>
    <div class="controls">
      <h2 id="eventResult"></h2>
      <input class="event-search-box" type="text" placeholder="Event Name">
      <a class="toggle-advance-options" href="#"><span class="advance-option">advance options</span></a>
      <div class="advance-filters hide">
        {{#each categories}}
          <div class="category-item">
            <input id="{{categoryname}}-cb" class="event-category" type="checkbox" value="{{id}}">
            <label class="category-label" for="{{categoryname}}-cb">{{categoryname}}</label>
          </div>
        {{/each}}
        <input type="text" class="advance-opt" placeholder="Event Date" id="start-date">
      </div>
      <button type="button" class="btn btn-outline-primary find-btn">Find Events</button>
    </div>
  </div>
  <div class="region bottom-region flip-bkg"></div>
</div>
