<div class="container landing-page main-container">
  {{> header }}
  <div class="wrapper">
    <div class="site-logo"></div>
    <h1 class="fun-font">Whoop-It-Up!</h1>
    <div class="controls">
      <button type="button" class="btn btn-outline-primary find-btn">Find Events</button>
      <button type="button" class="btn btn-outline-success create-btn">Create Event</button>
    </div>
  </div>
</div>
