<div class="container-fluid landing-page main-container">
  {{> header }}
  <div class="region top-region"></div>
    <div class="wrapper content-region">
      <div class="site-logo"></div>
      <h1 class="fun-font main-title" data-id="Whoop It Up!"></h1>
      <div class="controls">
        <button type="button" class="btn btn-outline-primary find-btn">Find Events</button>
        <button type="button" class="btn btn-outline-success create-btn">Create Event</button>
      </div>
    </div>
  <div class="region bottom-region flip-bkg"></div>
</div>
  
