<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
      <title>Whoop It Up - {{title}}</title>
    {{else}}  
      <title>Whoop It Up</title>
    {{/if}}
    <meta property="og:url" content="https://whoopitup.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Whoop It Up" />
    <meta property="og:description" content="Simple tool to create and search for event and invite your friends. Collaborators: @shankars13, @yankwong, @amcnulty, @brendan-kellams"
    />
    <meta property="og:image" content="https://whoopitup.herokuapp.com/images/og_image.jpg" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:height" content="734" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.min.css">
    <link rel='stylesheet' href='../stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="../javascripts/dist/app.js"></script>
  </body>
</html>
