<div class="container-fluid signup-page main-container">
  {{> header }}
  <div class="region top-region"></div>
  <div class="wrapper">
    <div class="site-logo"></div>
    <h2 class="fun-font">Join us!</h1>
    <div class="controls">
      <h2 id="usernameResult" class="error"></h2>
      <input id="username" type="text" placeholder="Username">
      <h2 id="emailResult" class="error"></h2>
      <input id="email" type="text" placeholder="Email">
      <h2 id="pwResult" class="error"></h2>
      <input id="password" type="password" placeholder="Password">
      <input id="confirm-pw" type="password" placeholder="Confirm Password">
      <h2 id="result" class="error"></h2>
      <button type="button" id="signUpBtn" class="btn btn-outline-primary signup-btn">Sign up</button>
    </div>
  </div>
  <div class="region bottom-region flip-bkg"></div>
</div>
