<div class="container signup-page main-container">
  {{> header }}
  <div class="wrapper">
    <div class="site-logo"></div>
    <h2 class="fun-font">Join us!</h1>
    <div class="controls">
      <input class="username" type="text" placeholder="Username">
      <input class="email" type="text" placeholder="Email">
      <input class="password" type="password" placeholder="Password">
      <input class="confirm-pw" type="password" placeholder="Confirm Password">
      <h2 id="result"></h2>
      <button type="button" id="signUpBtn" class="btn btn-outline-primary signup-btn">Sign up</button>
    </div>
  </div>
</div>
